@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__nuxt {
  @apply h-full
}

body {
  background-color: #f5f5f5;
}

.loaded {
  opacity: 1 !important;
  transition: opacity .2s linear;
}


.-preloader.-loading {
  background-color: #dfdfdf;
  background-size: 550px;
  opacity: 1
}

.-preloader {
  z-index: 2;
  opacity: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.-preloader::before {
  position: absolute;
  content: '';
  animation: unset;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,transparent,rgba(255,255,255,.3),transparent)
}

.-preloader.-loading::before {
  animation: ssc-loading 1.3s infinite
}

@keyframes ssc-loading {
  from {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%)
  }

  to {
      -webkit-transform: translateX(100%);
      transform: translateX(100%)
  }
}

.-grid {
  height: calc(100% - 44px);
  overflow-x: hidden;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(82px, 1fr));
  grid-auto-rows: 82px;
  gap: 8px;
}

.-grid > div {
  padding: 8px;
  display: grid;
  position: relative;
}

.-grid > div::before {
  content: '';
  padding-bottom: 100%;
  display: block;
}